#lobby-userlist-user-kokonoesan, #staff-userlist-user-kokonoesan,  #shadowbanroom-userlist-user-kokonoesan {
    background:url("http://orig00.deviantart.net/71cd/f/2009/350/0/f/sleeping_glaceon_by_lionheartcartoon.gif") no-repeat right
}
#lobby-userlist-user-opv, #staff-userlist-user-opv,  #shadowbanroom-userlist-user-opv, #unity-userlist-user-opv {
    background:url("http://pokedream.com/pokedex/images/mini/155.gif") no-repeat right
}
#lobby-userlist-user-roguescizor {
    background:url("http://i.imgur.com/BF2IXGH.png?1") no-repeat right
}
#lobby-userlist-user-key7 {
    background:url("http://i.imgur.com/pNgmXPF.png") no-repeat right
}
#lobby-userlist-user-wando, #staff-userlist-user-wando,  #shadowbanroom-userlist-user-wando, #unity-userlist-user-wando {
    background:url("https://s31.postimg.org/fh40wl99n/ezgif_4009171450.gif") no-repeat right
}

.pm-window-kokonoesan h3 {
  background: rgba(153, 204, 255, 0.8) url("http://orig00.deviantart.net/71cd/f/2009/350/0/f/sleeping_glaceon_by_lionheartcartoon.gif") no-repeat !important;
  background-position: 225px -8px !important;
  color: #C0C0C0 !important;
  text-shadow: 0px 0px 2px #000 !important;
  border-color: #C0C0C0 !important;
}

.pm-window-kokonoesan  h3:hover, .pm-window-kokonoesan.focused h3, .pm-window-kokonoesan.focused h3:hover {
  background: rgba(255, 128, 0, 0.9) url("http://orig00.deviantart.net/71cd/f/2009/350/0/f/sleeping_glaceon_by_lionheartcartoon.gif") no-repeat !important;
  background-position: 225px -8px !important;
  color: #FFFFFF !important;
  text-shadow: 0px 0px 2px #000 !important;
  border-color: #FFFFFF !important;
}

.pm-window-kokonoesan h3 small, .pm-window-kokonoesan h3 .minimizebutton, .pm-window-kokonoesan h3 .closebutton, .pm-window-kokonoesan h3:hover .minimizebutton {
  color: #ADD8E6 !important;
}

.pm-window-kokonoesan h3 .closebutton:hover + .minimizebutton.minimizebutton {
  color: #ADD8E6 !important;
}

.pm-window-kokonoesan h3 .closebutton:hover {
  color: #C0C0C0 !important;
}

.pm-window-kokonoesan h3 .minimizebutton:hover {
  color: #C0C0C0 !important;
}

.pm-window-kokonoesan .pm-log, .pm-window-kokonoesan.focused .pm-log {
  background: rgba(255, 240, 236, 0.95) url("http://orig06.deviantart.net/dca2/f/2013/015/e/d/glaceon__chibi__by_spiritofhearts-d5rl0d6.png") right no-repeat !important;
  border-color: #0F0 !important;
}

.pm-window-kokonoesan .pm-log .chat small {
  color: #D90 !important;
}

.pm-window-kokonoesan .pm-log-add, .pm-window-kokonoesan.focused .pm-log-add {
  background: #C0C0C0 !important;
  border-color: #0F0 !important;
}

.pm-window-kokonoesan .pm-log-add .textbox {
  border-color: #0F0 !important;
  background: rgba(255, 102, 153, 0.9) !important;
  color: #000 !important;
}

.pm-window-kokonoesan h3.pm-notifying {
  border-color: #0F0 !important;
  background: #000 url("http://orig00.deviantart.net/71cd/f/2009/350/0/f/sleeping_glaceon_by_lionheartcartoon.gif") no-repeat !important;
  background-position: 225px -8px !important;
  color: #53FF1A !important;
  text-shadow: 0px 0px 2px #FFF !important;
  font-style: italic !important;
}

.pm-window-kokonoesan h3.pm-notifying:hover {
  border-color: #0F0 !important;
  background: #FFF url("http://orig00.deviantart.net/71cd/f/2009/350/0/f/sleeping_glaceon_by_lionheartcartoon.gif") no-repeat !important;
  background-position: 225px -8px !important;
  color: #F9C !important;
  text-shadow: 0px 0px 2px #000 !important;
  font-style: italic !important;
}

.pm-window-kokonoesan .challenge {
  background: url("http://orig11.deviantart.net/2a05/f/2009/187/e/4/glaceon_cursor_by_lionheartcartoon.gif") !important;
  color: #000 !important;
  border-color: #0F0 !important;
}

.pm-window-kokonoesan .challenge .select, .pm-window-kokonoesan .challenge .buttonbar button {
  background: #C0C0C0 !important;
  border-color: #0F0 !important;
  color: #000 !important;
  text-shadow: 0px -1px 0px #BF5664 !important;
}

.pm-window-kokonoesan .challenge .select:hover, .pm-window-kokonoesan .challenge .buttonbar button:hover {
  background: #ADD8E6 !important;
  border-color: #0F0 !important;
} 

.pm-window-kokonoesan .challenge .select:disabled {
  background: rgba(255, 51, 0, 0.6) !important;
  border-color: #000 !important;
}

.pm-window-kokonoesan .challenge .teamselect:disabled strong {
  color: #ADD8E6 !important;
  text-shadow: none !important;
}

.pm-window-wando h3 {
  background: rgba(153, 204, 255, 0.8) url("http://pokedream.com/pokedex/images/mini/007.gif") no-repeat !important;
  background-position: 225px -8px !important;
  color: #FF8000 !important;
  text-shadow: 0px 0px 2px #000 !important;
  border-color: #FF8000 !important;
}

.pm-window-wando  h3:hover, .pm-window-wando.focused h3, .pm-window-wando.focused h3:hover {
  background: rgba(255, 128, 0, 0.9) url("http://pokedream.com/pokedex/images/mini/007.gif") no-repeat !important;
  background-position: 225px -8px !important;
  color: #9CF !important;
  text-shadow: 0px 0px 2px #000 !important;
  border-color: #9CF !important;
}

.pm-window-wando h3 small, .pm-window-wando h3 .minimizebutton, .pm-window-wando h3 .closebutton, .pm-window-wando h3:hover .minimizebutton {
  color: #F30 !important;
}

.pm-window-wando h3 .closebutton:hover + .minimizebutton.minimizebutton {
  color: #F30 !important;
}

.pm-window-wando h3 .closebutton:hover {
  color: #F3C !important;
}

.pm-window-wando h3 .minimizebutton:hover {
  color: #F3C !important;
}

.pm-window-wando .pm-log, .pm-window-wando.focused .pm-log {
  background: rgba(255, 240, 236, 0.95) url("http://files.gamebanana.com/img/ico/sprays/darkmagiciangirllf6_copy.png") right no-repeat !important;
  border-color: #0F0 !important;
}

.pm-window-wando .pm-log .chat small {
  color: #D90 !important;
}

.pm-window-wando .pm-log-add, .pm-window-wando.focused .pm-log-add {
  background: #F63 !important;
  border-color: #0F0 !important;
}

.pm-window-wando .pm-log-add .textbox {
  border-color: #0F0 !important;
  background: rgba(255, 102, 153, 0.9) !important;
  color: #000 !important;
}

.pm-window-wando h3.pm-notifying {
  border-color: #0F0 !important;
  background: #000 url("http://pokedream.com/pokedex/images/mini/007.gif") no-repeat !important;
  background-position: 225px -8px !important;
  color: #53FF1A !important;
  text-shadow: 0px 0px 2px #FFF !important;
  font-style: italic !important;
}

.pm-window-wando h3.pm-notifying:hover {
  border-color: #0F0 !important;
  background: #FFF url("http://pokedream.com/pokedex/images/mini/007.gif") no-repeat !important;
  background-position: 225px -8px !important;
  color: #F9C !important;
  text-shadow: 0px 0px 2px #000 !important;
  font-style: italic !important;
}

.pm-window-wando .challenge {
  background: url("http://findicons.com/files/icons/2597/the_clean_desk/40/heart.png") !important;
  color: #000 !important;
  border-color: #0F0 !important;
}

.pm-window-wando .challenge .select, .pm-window-wando .challenge .buttonbar button {
  background: #F63 !important;
  border-color: #0F0 !important;
  color: #000 !important;
  text-shadow: 0px -1px 0px #BF5664 !important;
}

.pm-window-wando .challenge .select:hover, .pm-window-wando .challenge .buttonbar button:hover {
  background: #F9D !important;
  border-color: #0F0 !important;
} 

.pm-window-wando .challenge .select:disabled {
  background: rgba(255, 51, 0, 0.6) !important;
  border-color: #000 !important;
}

.pm-window-wando .challenge .teamselect:disabled strong {
  color: #F9D !important;
  text-shadow: none !important;
}

.pm-window-opv h3 {
  background: rgba(255, 102, 204, 0.8) url("http://pokedream.com/pokedex/images/mini/155.gif") no-repeat !important;
  background-position: 225px -8px !important;
  color: #fff !important;
  text-shadow: 0px 0px 2px #000 !important;
  border-color: #FF99DD !important;
}

.pm-window-opv  h3:hover, .pm-window-opv.focused h3, .pm-window-opv.focused h3:hover {
  background: rgba(255, 153, 221, 0.8) url("http://pokedream.com/pokedex/images/mini/155.gif") no-repeat !important;
  background-position: 225px -8px !important;
  color: #fff !important;
  text-shadow: 0px 0px 2px #000 !important;
  border-color: #FF66CC !important;
}

.pm-window-opv h3 small, .pm-window-opv h3 .minimizebutton, .pm-window-opv h3 .closebutton, .pm-window-opv h3:hover .minimizebutton {
  color: #FFF !important;
}

.pm-window-opv h3 .closebutton:hover + .minimizebutton.minimizebutton {
  color: #F30 !important;
}

.pm-window-opv h3 .closebutton:hover {
  color: #F3C !important;
}

.pm-window-opv h3 .minimizebutton:hover {
  color: #F3C !important;
}

.pm-window-opv .pm-log, .pm-window-opv.focused .pm-log {
  background: rgba(255, 240, 236, 0.95) url("http://i.imgur.com/B9ZLHsy.png") right no-repeat !important;
  border-color: #FF66CC !important;
}

.pm-window-opv .pm-log .chat small {
  color: rgba(255, 153, 221, 0.8) !important;
}

.pm-window-opv .pm-log-add, .pm-window-opv.focused .pm-log-add {
  background: rgba(255, 153, 221, 0.8) !important;
  border-color: #FF66CC !important;
}

.pm-window-opv .pm-log-add .textbox {
  border-color: #FF66CC !important;
  background: #ffccff !important;
  color: #000 !important;
}

.pm-window-opv h3.pm-notifying {
  border-color: #0F0 !important;
  background: #fff url("http://pokedream.com/pokedex/images/mini/625.gif") no-repeat !important;
  background-position: 225px -8px !important;
  color: #f9c !important;
  text-shadow: 0px 0px 2px #000 !important;
  font-style: italic !important;
}

.pm-window-opv h3.pm-notifying:hover {
  border-color: #0F0 !important;
  background: #FFF url("http://pokedream.com/pokedex/images/mini/625.gif") no-repeat !important;
  background-position: 225px -8px !important;
  color: #F9C !important;
  text-shadow: 0px 0px 2px #000 !important;
  font-style: italic !important;
}

.pm-window-opv .challenge {
  background: url("https://fanart.tv/fanart/tv/150471/clearlogo/AngelBeats-150471-2.png") no-repeat center !important;
  color: #000 !important;
  border-color: #FF66CC !important;
}

.pm-window-opv .challenge .select, .pm-window-opv .challenge .buttonbar button {
  background: rgba(255, 153, 221, 0.8) !important;
  border-color: #FF66CC !important;
  color: #000 !important;
  text-shadow: 0px -1px 0px #BF5664 !important;
}

.pm-window-opv .challenge .select:hover, .pm-window-opv .challenge .buttonbar button:hover {
  background: rgba(255, 153, 221, 0.8) !important;
  border-color: #FF66CC !important;
} 

.pm-window-opv .challenge .select:disabled {
  background: rgba(255, 153, 221, 0.6) !important;
  border-color: #FF66CC !important;
}

.pm-window-opv .challenge .teamselect:disabled strong {
  color: #fff !important;
  text-shadow: none !important;
}

/**************
  * GENERAL CSS *
  **************/
  body {
    background-image: url("http://pre14.deviantart.net/dba0/th/pre/i/2015/320/2/5/hoopa_by_pridark-d99v57c.png");
  }
 
  .ps-room.ps-room-light {
    background-color:rgba(255,102,217,0.7);
    border-color: #fc0;
  }
 
  .ps-room.ps-room-light.scrollable {
    background-color:rgba(255,102,217,0.7);
  }
 
  .pad .button, .ps-room.ps-room-light.scrollable p .button {
    background: #B3CCFF;
    border-color: #E6E6E6;
    color: #79330A;
  }
 
  .pad .button:hover, .ps-room.ps-room-light.scrollable p .button:hover {
    background: #FC0;
    border-color: #79330A;
  }
 
  .ps-room.ps-room-light .roomlist, .roomlisttop {
    width: 100%;
    max-width: 100% !important;
  }
 
  .ps-room.ps-room-light .roomlist {
    background: rgba(255, 102, 217, 0.1);
    margin-bottom: 10px;
    padding: 5px 15px;
  }
 
  .roomlist a.ilink {
    background: rgb(255,204,0);
    border-color: #000;
    padding: 10px;
    color: #000;
  }
 
  .roomlist a.ilink:hover {
    background: rgb(230,230,230) url("http://orig13.deviantart.net/21cf/f/2015/121/b/d/bd01101377749592d81b09de7c8c9250-d8rstyq.png") right no-repeat;
    border-color: #000;
    color: #000;
  }
 
  .roomlist a.ilink small {
    color: #000000;
  }
 
  .roomcounters .picon {
    background: url("http://vignette3.wikia.nocookie.net/es.pokemon/images/b/b3/Hoopa_icon.png/revision/latest?cb=20140924123900") bottom no-repeat !important;
  }
 
  .roomcounters button {
    background: #FC0  !important;
    border: 1px outset #000 !important;
    color: #000 !important;
  }
 
  .roomcounters button:hover {
    background: #E6E6E6 !important;
    border-color: #000 !important;
  }
 
  .textbox, .textbox:hover, .textbox:focus {
    background: #E6E6E6;
    border-color: #000;
    color: black;
  }
 
  .broadcast-blue {
    background-color: #B3E6FF;
    border: 1px solid #0B1361;
    color: #0B1361;
    font-family: sans-serif;
    padding: 8px;
    text-align: center;
    margin: 5px;
  }
 
  .broadcast-blue a {
    color: #0B1361;
  }
 
  .broadcast-red {
    background-color: #FFB3B3;
    border: 1px solid #610B0B;
    color: #610B0B;
    font-family: sans-serif;
    padding: 8px;
    text-align: center;
    margin: 5px;
  }
 
  .broadcast-red a {
    color: #610B0B;
  }
 
  .broadcast-green {
    background-color: #C3FFB3;
    border: 1px solid #19610B;
    color: #19610B;
    font-family: sans-serif;
    padding: 8px;
    text-align: center;
    margin: 5px;
  }
 
  .broadcast-green a {
    color: #19610B;
  }
 
  .message-announce {
    background: #FFF178;
    font-style: italic; color: black;
  }
   /******************
    * General CSS End *
    ******************/
    /*************
  * HEADER CSS *
  *************/
  /* old logo http://i.imgur.com/5onrVwe.png */
 .header {
    background: url("http://i.imgur.com/ZNTM4uT.png") no-repeat;
 
  }
 
  .header .logo {
    opacity: 0;
  }
 
  .maintabbarbottom {
    background: #E6E6E6;
    border-color: #FC0;
  }
 
  .tabbar a.button.notifying {
    background: #B3D9FF;
    border-color: #E6E6E6;
    color: #fff;
    text-shadow: 0px 0px 2px #FFE278;
  }
 
  .tabbar a.button.notifying:hover {
    background: #E6E6E6;
    border-color: #B3D9FF;
    color: #fff;
  }
 
  .tabbar a.button.subtle-notifying {
    background: #FC0;
    color: #000000;
  }
 
  .tabbar a.button.cur, .tabbar a.button.cur:hover {
    background: rgba(230,230,230,0.7);
    border-color: #FC0;
    color: #000000;
  }
 
  .tabbar a.cur + .closebutton {
    color: #000000;
  }
 
  .tabbar a.button, .userbar button.icon {
    background: rgba(255,102,217,0.7);
    border-color: #000000;
    color: #000000;
  }
 
  .tabbar .closebutton {
    color: #000000;
  }
 
  .tabbar .closebutton:hover, .tabbar a.cur + .closebutton:hover {
    color: #000;
  }

  .tabbar a.button:hover, .userbar button.icon:hover {
    background: rgba(255,102,217,0.7);
    border-color: #000000;
  }
 
  .userbar .username {
    color: black;
    text-shadow: 1px 1px #e6e6e6, 1px -1px #e6e6e6, -1px 1px #e6e6e6, -1px -1px #e6e6e6;
  }
 
  /******************
  * HEADER CSS ~end *
  ******************/
  /***********
  * CHAT CSS *
  ***********/
 
  .chat-log {
    background: rgba(255, 255, 240, 0.8) url("http://i.imgur.com/maCfGbv.jpg") top right no-repeat;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: #000;
    color: black;
  }
 
  .chat small {
    color: #000;
  }
 
  .infobox {
    background: transparent;
    border-color: #000;
    border-style: outset;
    padding: 8px;
  }
 
  .infobox code {
    color: #000000;
  }
 
  .message small {
    color: #000 !important;
  }
 
  .message .utilichart .result {
    border: 1px outset #000;
    background: rgba(255, 161, 97, 0.7);
  }
 
  .chat-log a.ilink {
    color: #000000;
  }
 
  .chat-log a.ilink:hover {
    color: #000000;
  }
 
  .infobox a.ilink {
    color: orange;
  }
 
  .infobox a.ilink:hover {
    color: #000000;
  }
 
  .chat.mine {
    background: transparent;
  }
 
  .message-pm {
    color: #000;
  }
 
  .chat-log-add {
    background: rgba(250, 240, 199, 0.5);
    border-color: #Fc0;
  }
 
  .chat-log-add .chatbox label {
    text-shadow: 0px 0px 2px #000;
  }
 
  .userlist {
    background: rgba(255,238,214, 0.7);
    border-color: rgba(241, 231, 194, 0);
  }
 
  .userlist li {
    border-color: #000;
  }
 
  .userlist li span, .userlist li strong {
    text-shadow: none;
  }
 
  .userlist li button:hover {
    background: rgba(255, 255, 255, 0.5);
  }
 
  .userlist-count {
    color: #000;
  }
 
  .userlist li em.group {
    color: #000;
  }
 
  /****************
  * CHAT CSS ~end *
  ****************/
    /**********************
  * MAINMENUWRAPPER CSS *
  **********************/
 
  .menugroup {
    background: rgba(255,102,217,0.3);
    border: 1px outset #000;
    color: black;
  }
 
  .menugroup button, .select, .menugroup .button.mainmenu2, .menugroup .button.mainmenu4 {
    background: rgba(255,102,217,0.5);
    padding: 3px 8px;
    border: 1px outset #fc0;
    color: #000;
  }
 
  .menugroup button:hover, .select:hover, .menugroup .button.mainmenu2:hover, .menugroup .button.mainmenu4:hover {
    background: rgba(230,230,230,0.3);
    border-color: #fc0;
  }
 
  .menugroup a.ilink {
    font-weight: bold;
    font-style: italic;
  }
 
  .menugroup a.ilink:hover {
    background: rgba(255,102,217,0.3);
  }
 
  .select:disabled, .select:disabled:hover {
    background: rgba(255,102,217,0.3);
    border: 1px solid #fc0;
  }
 
  .teamselect:disabled strong {
    color: #000;
  }
 
  .menugroup .button.mainmenu1, .menugroup .button.mainmenu3, .menugroup .button.mainmenu5 {
    background: rgba(230,230,230,0.2);
    border-color: #fc0;
    color: #000;
  }
 
  .menugroup .button.mainmenu1:hover, .menugroup .button.mainmenu3:hover, .menugroup .button.mainmenu5:hover {
    background: rgba(255,102,217,0.2);
    border-color: #fc0;
  }
 
  .pm-window h3 {
    background: rgba(230,230,230,0.2);
    border: 1px outset #fc0;
    color: #000;
  }
 
  .pm-window .closebutton, .pm-window .minimizebutton {
    color: #fc0;
  }
 
  .pm-window h3 small {
    color: #fc0;
  }
 
  .pm-window h3:hover {
    background: rgba(230,230,230,0.3);
    border: 1px outset #fc0;
    color: #000;
  }
 
  .pm-window .closebutton:hover, .pm-window .minimizebutton:hover, .pm-window h3:hover .minimizebutton {
    color: #000;
  }
 
  .pm-window .closebutton:hover + .minimizebutton {
    color: #000 !important;
  }
 
  .pm-window.focused h3, .pm-window.focused h3:hover {
    background:rgba(230,230,230,0.7);
    border: 1px outset #fc0;
    color: #000;
  }
 
  .pm-log, .pm-window.focused .pm-log {
    background: rgba(255,102,217,0.6);
    border-color: #fc0;
    color: black;
  }
 
  .unread {
    background: none;
  }
 
  .challenge {
    background: rgba(230,230,230,0.3);
    border: 1px outset #000;
    color: #000;
  }
 
  .challenge .buttonbar button {
    background: rgba(255, 204, 0, 0.5);
    padding: 3px 8px;
    border: 1px outset #000;
    color: #e6e6e6;
  }
 
  .challenge .buttonbar button:hover {
    background: #FFA041;
    border-color: #000;
  }
 
  .pm-log-add, .pm-window.focused .pm-log-add {
    background: rgba(230,230,230,0.2);
    border: 1px outset #fc0;
    color: #000;
  }
 
  .pm-log-add .textbox {
    border-color: #fc0;
  }
 
  .mainmenufooter {
    background: rgba(230,230,230,0.2);
    border: 1px outset #fc0;
    padding: 5px;
    color: #000;
  }
 
  .mainmenufooter a {
    color: #fff;
  }
 
  .mainmenufooter a:hover {
    color: #FFFF8B;
  }
 
  /***************************
  * MAINMENUWRAPPER CSS ~end *
  ***************************/ 
  /******************
  * TOURNAMENTS CSS *
  ******************/
 
  .tournament-title {
    background: rgba(230,230,230,0.2);
    color: #000;
  }
 
  .tournament-status, .tournament-toggle {
    background: rgba(230,230,230,0.2);
    border-color: #fc0;
    color: #000;
  }
 
  .tournament-status {
    border-left: 1px solid #000;
  }
 
  .tournament-box {
    border-color: #fc0;
    border-left: 1px solid #fc0;
  }
 
  .tournament-bracket {
    background: url("http://orig13.deviantart.net/21cf/f/2015/121/b/d/bd01101377749592d81b09de7c8c9250-d8rstyq.png") center left no-repeat;
    border-color: #fc0;
  }
 
  .tournament-bracket-tree {
    padding: 15px 0px;
  }
 
  .tournament-tools {
    background: rgba(230,230,230,0.7);
    border-color: #fc0;
  }
 
  .tournament-tools .button {
    background: #b3ccff;
    border-color: #fc0;
    color: #49614B;
    text-shadow: 0px 0px 2px #C5E2C8;
  }
 
  .tournament-tools .button:hover {
    background: rgba(230,230,230,0.6);
    border-color: #fc0;
  }
 
  .tournament-tools .select:disabled, .tournament-tools .select:disabled:hover {
     background: #B5D2B8;
    border-color: #fc0;
    color: #000;
  }
 
  .tournament-tools .teamselect:disabled strong {
    color: #49614B;
  }
 
  .tournament-tools .select {
    background: rgba(255, 223, 184, 0.7);
    border-color: #000;
    color: #000;
  }
 
  .tournament-tools .select:hover {
    background: rgba(255, 223, 175, 0.7);
  }
 
  .tournament-format {
    color: #000;
    font-size: 12pt;
  }
 
  .ps-popup.tournament-popout-bracket {
    background-image: url("http://wallzoa.com/wp-content/uploads/2013/07/pichu-background.png");
  }
 
  /**********************
  * TOURNAMENT CSS ~end *
  **********************/
   /************
  * POPUP CSS *
  ************/
 
  .ps-popup {
    background: rgba(179, 204, 255, 0.8);
    border: 1px solid #fc0;
    color: #000;
  }
 
  .ps-popup .buttonbar button {
    background: rgba(255,102,217,0.4);
    padding: 3px 8px;
    border: 1px solid #000;
    color: #000;
  }
 
  .ps-popup .buttonbar button:hover {
    background: rgba(230,230,230,0.7);
    border-color: #fc0;
  }
 
  .ps-popup a, .ps-popup a.ilink, .popupmenu h3 {
    color: #000;
  }
 
  .ps-popup a:hover, .ps-popup a.ilink:hover {
    color: #000;
  }
 
  .ps-popup a.ilink.yours {
    color: #000;
  }
 
  .popupmenu button.sel {
    border-color: #000;
  }
 
  .popupmenu button.sel:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: #000;
  }
 
  .popupmenu button:hover {
    background: rgba(255,102,217,0.7);
    border-color: #000;
  }
 
  /*****************
  * POPUP CSS ~end *
  *****************/
  /*******************
   * Team Builder CSS *
   *******************/
    .folderpane {
    border-color: #fc0;
  }
 
  .folder.cur .selectFolder, .folder.cur .selectFolder:hover, .folder.cur .selectFolder:active, .folderpane h3, .folderlistafter::before, .folderlistbefore::before, .folder .selectFolder, .folderlist .foldersep::before {
    border-color: #fc0;
  }
 
  .folderpane h3 {
    background: rgba(230,230,230,0.2);
    color: #e6e6e6;
  }
 
  .folder .selectFolder {
    background: #b3ccff;
    color: #000;
  }
 
  .folderlistafter::before, .folderlist .foldersep::before, .folderlistbefore::before  {
    background: rgba(255,102,217,0.7) !important;
  }
 
  .folder .selectFolder:hover {
    background: rgba(230,230,230,0.7);
  }
 
  .teamlist .team {
    background: rgba(230,230,230,0.7);
    padding: 3px 8px;
    border: 1px solid #fc0;
    color: #49614B;
  }
 
  .teamlist .team small {
    text-shadow: none;
  }
 
  .teamlist .team:hover {
    background: #b3ccff;
    border-color: #fc0;
  }
 
  .button.big, .format-select .button {
    background: rgba(255,102,217,0.7);
    border-color: #fc0;
    color: #000;
  }
 
  .button.big:hover, .format-select .button:hover {
    background: rgba(255,102,217,0.7);
    border-color: #fc0;
  }
 
  .teamchartbox {
    background: rgba(230,230,230,0.3);
    border-color: #fc0;
    border-width: 3px;
  }
 
  .teambar button {
    background: rgba(255,102,217,0.2);
    border: none;
    color: #000;
  }
 
  .teambar button:hover {
    background: #e6e6e6;
  }
 
  .teambar button span {
    margin: -5px auto;
  }
 
  .setmenu button {
    color: #000;
  }
 
  .setmenu button:hover {
    background: rgba(230, 230, 230,0.5);
    border-color: #fc0;
    color: #000;
  }
 
  .setchart {
    background: rgba(179, 204, 255, 0.7);
    border-color: #fc0;
  }
 
  .setchart label {
    color: #000;
  }
 
  .setchart input, .setchart input:hover, .setdetails, .setdetails:hover, .setstats, .setstats:hover, .statform input.numform, .statform input.numform:hover {
    border-color: #fc0;
  }
 
  .setchart .setdetails label, .setchart .setstats label {
    color: #000;
    text-shadow: none;
  }
 
  .setchart-nickname {
    background: #FFE378;
    border-color: #000;
  }
 
  .setchart-nickname label {
    color: #000;
  }
 
  .setchart-nickname input, .setchart-nickname input:hover {
    border-color: #000;
  }
 
  .utilichart .sortcol.cur, .utilichart .sortcol.cur:hover {
    background: rgb(179, 204, 255);
    color: #000;
    text-shadow: none;
  }
 
  .utilichart .sortrow {
    background: #FFD285;
    border-color: #000;
  }
 
  .utilichart .sortcol {
    color: #000;
  }
 
  .utilichart .sortcol:hover {
    background: #FFD285;
  }
 
  .utilichart .filtercol em {
    border-color: #000;
    color: #000;
  }
 
  .utilichart h3, .dexentry h3, .resultheader h3 {
    background: #FFD285;
    border-color: #FFD285;
    color: #000;
    text-shadow: none;
  }
 
  .teambuilder-results .result a.cur {
    background: rgba(255, 255, 255, 0.3);
    border-color: #000;
  }
 
  .teambuilder-results .result a.cur:hover, .teambuilder-results .result a:hover {
    background: rgba(255, 255, 255, 0.5);
    border-color: #000;
  }
 
  .jslider .jslider-value {
    background: #FFD285;
    border: 1px solid #000;
    color: #000;
  }
 
  .utilichart .numcol {
    color: #000;
  }
 
  /***********************
  * TEAMBUILDER CSS ~end *
  ***********************/
        /*************
  * BATTLE CSS *
  *************/
.sunweather,
.sunnydayweather,
.desolatelandweather
{
	background: #FFEEBB url(http://i.imgur.com/DNMtOWR.gif) no-repeat scroll left top;
	color: #664411;
	text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
  	background-size:cover;
}
.rainweather,
.raindanceweather,
.primordialseaweather
{
	background: #99BBFF url(http://i.imgur.com/NQqkU6j.gif) no-repeat scroll left top;
	color: #0044BB;
	text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.sandstormweather
{
	background: #E6E0AC url(http://i.imgur.com/OEB3hum.gif) no-repeat scroll left top;
	color: #554433;
	text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.hailweather
{
	background: #AADDEE url(http://i.imgur.com/PweinWm.gif) no-repeat scroll left top;
	color: #114455;
	text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.deltastreamweather
{
	background: #AAAAAA url(http://play.pokemonshowdown.com/fx/weather-strongwind.png) no-repeat scroll left top;
	color: #666666;
	text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.pseudoweather
{
	background: #DDAAEE url(http://play.pokemonshowdown.com/fx/weather-trickroom.png) no-repeat scroll left top;
	color: #661155;
	text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}

 .ps-room.ps-room-opaque .battle .backdrop {
    background: transparent url("http://trn.tv/blog/wp-content/uploads/2016/01/Black_Hole-1038x576.jpg") no-repeat scroll left top !important;
    opacity: 0.6;
    }
 
  .ps-room.ps-room-opaque {
    background: rgba(230, 230, 230, 0.7);
  }
 
  .ps-room .battle-controls {
    background: rgba(255,102,217,0.3);
  }
 
  .ps-room .battle-controls button, .ps-room .battle-controls .button {
    background: rgba(255,102,217,0.3);
    padding: 3px 8px;
    border: 1px solid #fc0;
    color: #79330A;
    text-shadow: 0px 0px 2px #C5E2C8;
  }
 
  .ps-room .battle-controls button:hover, .ps-room .battle-controls .button:hover {
    background: #e6e6e6;
    border-color: #fc0;
  }
 
  .battle-controls .whatdo {
    color: #2C392D;
  }
 
  .battle-controls .whatdo small {
    border-color: #B3CCFF;
  }
 
  .moveselect button {
    text-decoration: underline;
    background: url("http://i.imgur.com/GPzZsG1.png") center left no-repeat !important;
    background-position: left 8px !important;
    padding-left: 30px !important;
    border: none !important;
    color: #F8D030 !important;
    text-shadow: 1px 1px #903028, 1px -1px #903028, -1px 1px #903028, -1px -1px #903028 !important;
  }
 
  .movemenu button {
    height: 50px;
    color: #FFF !important;
    font-weight: bold;
    text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000 !important;
    border-width: 2px !important;
    border-style: solid !important;    
  }
 
  .movemenu button small {
    text-shadow: none !important;
    font-weight: normal;
  }
 
 
  .movemenu button.type-Normal {
    background: #C7AFB5 url("http://i.imgur.com/3C1Bacx.png?2") center no-repeat !important;
    border-color: #75525C !important;  
  }
 
  .movemenu button.type-Normal small {
    color: #75525C;
  }
 
  .movemenu button.type-Normal:hover {
    background: #DFCDD2 url("http://i.imgur.com/3C1Bacx.png?2") center no-repeat !important;
  }
 
 
  .movemenu button.type-Fire {
    background: #FD4B5A url("http://i.imgur.com/4sLBBTN.png?2") center no-repeat !important;
    border-color: #AB1F24 !important;  
  }
 
  .movemenu button.type-Fire small {
    color: #AB1F24;
  }
 
  .movemenu button.type-Fire:hover {
    background: #FF767F url("http://i.imgur.com/4sLBBTN.png?2") center no-repeat !important;
  }
 
 
  .movemenu button.type-Water {
    background: #85A8FB url("http://i.imgur.com/K7r8LVH.png?2") center no-repeat !important;
    border-color: #1552E1 !important;  
  }
 
  .movemenu button.type-Water small {
    color: #1552E1;
  }
 
  .movemenu button.type-Water:hover {
    background: #A9C3FF url("http://i.imgur.com/K7r8LVH.png?2") center no-repeat !important;
  }
 
    .movemenu button.type-Grass {
    background: #42C665 url("http://i.imgur.com/628FI5x.png?2") center no-repeat !important;
    border-color: #147B3D !important;  
  }
 
  .movemenu button.type-Grass small {
    color: #147B3D;
  }
    .movemenu button.type-Grass:hover {
    background: #56D879 url("http://i.imgur.com/628FI5x.png?2") center no-repeat !important;
  }
 
   .movemenu button.type-Electric {
    background: #FAFA72 url("http://i.imgur.com/bzW9xyl.png?2") center no-repeat !important;
    border-color: #C6C61D !important;  
  }
 
  .movemenu button.type-Electric small {
    color: #C6C61D;
  }
 
  .movemenu button.type-Electric:hover {
    background: #FFFF9B url("http://i.imgur.com/bzW9xyl.png?2") center no-repeat !important;
  }
 
 
  .movemenu button.type-Ice {
    background: #D8F0FA url("http://i.imgur.com/otB37l2.png?2") center no-repeat !important;
    border-color: #7CC6EB !important;  
  }
 
  .movemenu button.type-Ice small {
    color: #7CC6EB;
  }
 
  .movemenu button.type-Ice:hover {
    background: #E6F8FF url("http://i.imgur.com/otB37l2.png?2") center no-repeat !important;
  }
 
 
  .movemenu button.type-Ground {
    background: #A8702D url("http://i.imgur.com/F2Ngn3T.png?2") center no-repeat !important;
    border-color: #6E491F !important;  
  }
 
  .movemenu button.type-Ground small {
    color: #6E491F;
  }
 
  .movemenu button.type-Ground:hover {
    background: #BA843C url("http://i.imgur.com/F2Ngn3T.png?2") center no-repeat !important;
  }
 
 
  .movemenu button.type-Flying {
    background: #94B2C7 url("http://i.imgur.com/Al6Gb8u.png?2") center no-repeat !important;
    border-color: #4A677D !important;  
  }
 
  .movemenu button.type-Flying small {
    color: #4A677D;
  }
 
  .movemenu button.type-Flying:hover {
    background: #A4C0D5 url("http://i.imgur.com/Al6Gb8u.png?2") center no-repeat !important;
  }
 
 
  .movemenu button.type-Poison {
    background: #9B69DA url("http://i.imgur.com/d3QQ9Af.png?2") center no-repeat !important;
    border-color: #5E2D89 !important;  
  }
 
  .movemenu button.type-Poison small {
    color: #5E2D89;
  }
 
  .movemenu button.type-Poison:hover {
    background: #BF8EF6 url("http://i.imgur.com/d3QQ9Af.png?2") center no-repeat !important;
  }
 
 
  .movemenu button.type-Fighting {
    background: #EF6239 url("http://i.imgur.com/0fjqBIB.png?2") center no-repeat !important;
    border-color: #994025 !important;  
  }
 
  .movemenu button.type-Fighting small {
    color: #994025;
  }
 
  .movemenu button.type-Fighting:hover {
    background: #FA7851 url("http://i.imgur.com/0fjqBIB.png?2") center no-repeat !important;
  }
     .movemenu button.type-Psychic {
    background: #F369B3 url("http://i.imgur.com/QzQIgYi.png?2") center no-repeat !important;
    border-color: #A52A6C !important;  
  }
 
  .movemenu button.type-Psychic small {
    color: #A52A6C;
  }
 
  .movemenu button.type-Psychic:hover {
    background: #FD7DC1 url("http://i.imgur.com/QzQIgYi.png?2") center no-repeat !important;
  }
 
 
  .movemenu button.type-Dark {
    background: #595978 url("http://i.imgur.com/dpxY9u7.png?2") center no-repeat !important;
    border-color: #040707 !important;  
  }
 
  .movemenu button.type-Dark small {
    color: #040707;
  }
 
  .movemenu button.type-Dark:hover {
    background: #737392 url("http://i.imgur.com/dpxY9u7.png?2") center no-repeat !important;
  }
 
 
  .movemenu button.type-Rock {
    background: #8B3E22 url("http://i.imgur.com/uQRUH3r.png?2") center no-repeat !important;
    border-color: #48190B !important;  
  }
 
  .movemenu button.type-Rock small {
    color: #48190B;
  }
 
  .movemenu button.type-Rock:hover {
    background: #A25032 url("http://i.imgur.com/uQRUH3r.png?2") center no-repeat !important;
  }
 
 
  .movemenu button.type-Bug {
    background: #3C9950 url("http://i.imgur.com/oPBAAYf.png?2") center no-repeat !important;
    border-color: #1C4B27 !important;  
  }
 
  .movemenu button.type-Bug small {
    color: #1C4B27;
  }
 
  .movemenu button.type-Bug:hover {
    background: #4FAF65 url("http://i.imgur.com/oPBAAYf.png?2") center no-repeat !important;
  }
 
   .movemenu button.type-Ghost {
    background: #906791 url("http://i.imgur.com/jwbeQbI.png?2") center no-repeat !important;
    border-color: #33336B !important;  
  }
 
  .movemenu button.type-Ghost small {
    color: #33336B;
  }
 
  .movemenu button.type-Ghost:hover {
    background: #AE81AE url("http://i.imgur.com/jwbeQbI.png?2") center no-repeat !important;
  }
 
 
  .movemenu button.type-Steel {
    background: #60756E url("http://i.imgur.com/KCc2bLu.png?2") center no-repeat !important;
    border-color: #38A480 !important;  
  }
 
  .movemenu button.type-Steel small {
    color: #38A480;
  }
 
  .movemenu button.type-Steel:hover {
    background: #829790 url("http://i.imgur.com/KCc2bLu.png?2") center no-repeat !important;
  }
 
 
  .movemenu button.type-Dragon {
    background: #62CAD9 url("http://i.imgur.com/ygEvaDc.png?2") center no-repeat !important;
    border-color: #448A95 !important;  
  }
 
  .movemenu button.type-Dragon small {
    color: #448A95;
  }
 
  .movemenu button.type-Dragon:hover {
    background: #7EDCEB url("http://i.imgur.com/ygEvaDc.png?2") center no-repeat !important;
  }
 
 
  .movemenu button.type-Fairy {
    background: #E91368 url("http://i.imgur.com/0qO7BN7.png?2") center no-repeat !important;
    border-color: #961A45 !important;  
  }
 
  .movemenu button.type-Fairy small {
    color: #961A45;
  }
 
  .movemenu button.type-Fairy:hover {
    background: #FF3C8A url("http://i.imgur.com/0qO7BN7.png?2") center no-repeat !important;
  }
 
     .switchselect button {
    text-decoration: underline;
    background: url("http://i.imgur.com/d0UDk9G.png") bottom left no-repeat !important;
    padding-left: 15px !important;
    background-position: left 10px !important;
    border: none !important;
    color: #000 !important;
  }
 
  .switchmenu button.disabled, .switchmenu button:disabled {
    background: rgba(255, 237, 164, 0.5) !important;
    border-width: 2px;
    border-color: #000 !important;
    color: #000 !important;
    font-weight: bold;
    text-shadow: none !important;
  }
 
  .switchmenu button {
    padding: 5px 5px 5px 0 !important;
  }
 
  .switchmenu button .hpbar {
    border-color: #000;
  }
  .megaevo {
    background: none;
    border: none;
    color: #000;
  }
 
  .leftbar, .rightbar {
    background: rgba(244, 186, 107, 0.7);
    border-color: #000000;
  }
 
  .trainer strong {
    color: #000;
  }
 
  .battle {
    border-color: #fc0 !important;
  }
    .battle-log {
    background: rgba(179, 204, 255, 0.5) url("http://vignette2.wikia.nocookie.net/pokemon/images/0/03/720_Hoopa_M18.png/revision/latest?cb=20160216085732") top right no-repeat;
    border-color: #000;
  }
 
  .battle-log-add {    
    background: transparent;
    border-top-color: #fc0;
    border-left-color: #fc0;
    color: #000;
  }
 
  .battle-log-add .textbox, .battle-log-add .textbox:hover, .battle-log-add .textbox:focus {
    border-color: #fc0;
  }
 
  .battle-log h2 {
    background: rgb(179, 204, 255);
    border-color: #fc0;
    color: #000;
  }
 
 
  .turn {
    opacity: 0.7 !important;
    background: rgba(255,102,217,0.7);
    padding: 4px 8px;
    border-width: 1px;
    border-color: #000;
    color: #fc0;
    font-weight: normal;
    font-style: italic;
  }
 
  .battle-log .rated strong {
    background: #000;
    font-style: italic;
  }
 
  /******************
  * BATTLE CSS ~end *
  ******************/
 /************
 * dark mode *
 ************/
 
.dark .textbox, .dark .textbox:focus {
    color: white;
}
  /******************
   * Dark Mode End *
   ******************/

